body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

/* Navbar */
.navbar {
  background: linear-gradient(90deg, #1a237e, #1e88e5);
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  margin: 20px;
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 4px;
}

.nav-links a.active,
.nav-links a:hover {
  border-bottom: 2px solid #ffeb3b;
}

/* Report Section */
.report-section {
  background-color: white;
  width: 450px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
  height: 500px;
}

textarea {
  width: 100%;
  padding: 8px;
}

/* Buttons */
button {
  background-color: black;
  color: white;
  padding: 8px 12px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

/* Issue List */
#historyList {
  margin-top: 10px;
}body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

/* Navbar */
.navbar {
  background-color: black;
  color: white;
  padding: 10px;
}

.logo {
  font-weight: bold;
}

/* Report Section */
.report-section {
  background-color: white;
  width: 450px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
  height: 500px;
}

textarea {
  width: 100%;
  padding: 8px;
}

/* Buttons */
button {
  background-color: black;
  color: white;
  padding: 8px 12px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

/* Issue List */
#historyList {
  margin-top: 10px;
}